$lavender-rose: #FF97F7;
$light-orchid: #E598E5;
$deep-blush: #E55FBA;
$plum: #7F3568;
$wine-berry: #401A34;


$flirt: #9E0274;
$lipstick: #B80053;
$hot-pink: #FF69B4;
$pink-lace: #FFDDF4;
$pink: #FFC1CC;