//The source for all the names - http://chir.ag/projects/name-that-color/


$lavender-rose: #FF97F7;
$light-orchid: #E598E5;
$deep-blush: #E55FBA;
$plum: #7F3568;
$wine-berry: #401A34;

$solitude: #E8F0FE;
$spindle: #bdd7ee;
$opal: #A2C4C9;
$wedgewood: #45818E;
$cornflower: #9FC5E8;
$cornflower-blue: #5B95F9;
$boston-blue: #3D85C6;
$astral: #2F75B5;
$venice-blue: #0B5394;
$wistful: #B4A7D6;
$butterfly-bush: #674EA7;
$sprout: #B6D7A8;
$chelsea-cucumber: #6AA84F;
$pippin: #FFE6DD;
$double-pearl-lusta: #FCE5CD;
$saffron: #F1C232;
$fire-bush: #E69138;
$flamingo: #F46524;
$mai-tai: #B45F06;

$flirt: #9E0274;
$seance: #7B1FA2;
$lipstick: #B80053;
$magenta: #FF00FF;
$hot-pink: #FF69B4;
$pink-lace: #FFDDF4;
$pink: #FFC1CC;


//sleep-log
$sleep-log-dark: $boston-blue;
$sleep-log-medium: $cornflower-blue;
$sleep-log-light: $solitude;

//release-log
$release-log-dark: $mai-tai;
$release-log-medium: $flamingo;
$release-log-light: $pippin;

//Daily-habits
$daily-habits-medium: $saffron;

//Rules
$rules-medium: $magenta;
$rules-dark: $seance;



//------------------NEW DESIGN-------------------------------------
$tickle-me-pink: #FF85C2;
$medium-red-violet: #c93c80;
$dusty-gray:#999999;
$silver-chalice: #ABABAB;
$alto: #D5D5D5;








//--------------------------------------------------------
$academy-header-background: $tickle-me-pink;
$academy-header-active-link: $medium-red-violet;


$STB-header: $medium-red-violet;
$setup-button: $silver-chalice;
$aside-link-inner-border: $alto;