@import "values.scss";

.welcome-page
{
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  main
  {
    display: flex;
    flex-direction: column;
    background-color: #f780ff;
    background: url('../images/welcome/girl-training-bg.jpg') no-repeat, linear-gradient(-180deg, #f780ff 0%, #000000 100%);
    background-size: 100% auto;
    align-items: center;
  }
}

h1.main-header
{
  margin:32px 0;
  font-family:Bitter;
  text-align:center;
  
  
  span.main-header__row-one
  {
    font-size:76px;
    line-height: 76px;
    color:#c93c80;
    text-shadow: 0 0 1px black;
  }
  
  span.main-header__row-two
  {
    font-size:106px;
    line-height: 106px;
    color:#ffffff;
    text-shadow: 0 0 1px black;
  }
}

.academy-promo-big
{
  width: 936px;
  min-height: 496px;
  border-radius:20px;
  
  h1.academy-promo-big__header
  {
    font-size: 0;
  }
  
  p.academy-promo-big__starting-phrase
  {
    margin-bottom: 44px;
    font-family:Roboto-Black;
    font-size:40px;
    color:#ffffff;
  }
  
  p:not(.academy-promo-big__starting-phrase)
  {
    margin-bottom: 24px;
    font-family:Roboto-Bold;
    font-size:14px;
    color:#000000;
    line-height:16px;
    text-align:left;
  }
}

.academy-promo-big--type-B
{
  margin-bottom: 60px;
  padding: 60px 36px 36px;
  
  p:nth-child(1n) {color: white}
  p.academy-promo-big__starting-phrase {margin-bottom: 28px;}
  a {margin: 20px auto 40px}
}

.academy-promo-big--type-C
{
  background-color: #c93c80;
  margin-bottom: 48px;
  border: 1px solid #8c2958;
  
  .academy-promo-big--type-C__strong-phrase
  {
    display: inline-block;
    box-sizing: content-box;
    height: 144px;
    padding: 36px;
    font-family:Roboto-Black;
    font-size:40px;
    color:#ffffff;
    text-align:left;
  }
  
  .academy-promo-big--type-C__background
  {
    position: relative;
    box-shadow: inset 0 0 0 1000px rgba(201,60,128, 0.25);
    width: 100%;
    height: 360px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
    a
    {
      position: relative;
      top: 260px;
      margin: 0 auto;
    }
  }
  
  .academy-promo-big--type-C__background--form4
  {
    background: url("../images/welcome/form4.jpg") no-repeat;
    background-size: auto 150%;
  }
  
  .academy-promo-big--type-C__background--form5
  {
    background: url("../images/welcome/form5.jpg") no-repeat;
    background-size: 100% auto;
  }
  .academy-promo-big--type-C__background--bg-girl-headphones
  {
    background: url("../images/welcome/bg-girl-headphones.jpg") no-repeat;
    background-size: 100% auto;
  }
  .academy-promo-big--type-C__background--form6
  {
    background: url("../images/welcome/form6.jpg") no-repeat;
    background-size: 100% auto;
  }
  .academy-promo-big--type-C__background--form1
  {
    background: url("../images/welcome/form1.jpg") no-repeat;
    background-size: 100% 100%;
  }
}

.academy-promo-big--type-D
{
  background:#ffe9f4;
  margin-bottom: 180px;
  padding: 60px 36px 36px;
  
  .academy-promo-big--type-D__strong-phrase
  {
    display: inline-block;
    font-family:Roboto-Black;
    font-size:40px;
    color:#c93c80;
    text-align:left;
    margin-bottom: 16px;
  }
  
  p
  {
    width: 786px;
    margin-bottom: 24px;
    font-family:Roboto-Bold;
    font-size:20px;
    color:#000000;
    text-align:left;
  }
  
  label
  {
    display: block;
  }
  
}

article.academy-promo-big--enroll-now
{
  background: url('../images/welcome/form3.jpg') no-repeat center center;
  background-size: 100% auto;
  margin-bottom: 40px;
  padding: 90px 36px 36px;
  
  p:nth-of-type(2)
  {
    width: 308px;
  }
  p:nth-of-type(3)
  {
    width: 264px;
  }
  p.academy-promo-big__starting-phrase
  {
    width: 400px;
  }
}

article.academy-promo-big--explore
{
  background:url('../images/welcome/form1.jpg') no-repeat 10% 0;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
}

article.academy-promo-big--behaviour
{
  background:url('../images/welcome/form2.jpg') no-repeat 100% 10%;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
}

article.academy-promo-big--campus
{
  background:url('../images/welcome/training-book-bg.jpg') no-repeat;
  background-size: 100% 100%;
  padding: 90px 80px 110px 110px;
  
  p:nth-child(1n)
  {
    color: #3f3f3f
  }
  
  p.academy-promo-big__starting-phrase
  {
    color:black;
  }
  
  b
  {
    font-family:Roboto-Black;
    color: #3f3f3f
  }
  div
  {
    display: flex;
    margin-top: 50px;
  }
  
  a.button:first-of-type
  {
    margin: 0 50px 0 auto;
  }
  
  a.button:last-of-type
  {
    margin: 0 auto 0 0;
  }
}

article.academy-promo-big--dear-applicant
{
  background: url("../images/welcome/form3.jpg") no-repeat 50% 0;
  background-size: 125% auto;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
}

section.academy-small-promos-section
{
  width: 936px;
  margin-bottom: 60px;
  
  ul.academy-small-promos-list
  {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

article.academy-promo-small
{
  background:#ffffff;
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.50);
  width:300px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-radius: 20px;
  font-family: Roboto-Light;
  
  h1
  {
    margin: 20px;
    font-size: 24px;
    text-align: center;
    color: #8c2958;
  }
  
  a.academy-promo-small__link
  {
    width: 264px;
    height: auto;
    margin:20px;
    padding: 14px;
  }
}

