@import "values.scss";

#welcome-page
{
  background: url("../images/login/female-summer-bg.jpg") no-repeat;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  header
  {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:0;

    h1
    {
      margin: 20px 0;
      text-align: center;
      font-weight: bold;

      :first-child
      {
        font-size: 38px;
        line-height: 38px;
        color: $flirt;
        text-shadow: 0 1px 3px black;
      }
      :last-child
      {
        font-size: 60px;
        line-height: 60px;
        color: white;
        text-shadow: 0 2px 5px black;
      }
    }
  }


  div.main-container
  {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    main
    {
      //background-color: rgba(255,221,244,0.6); // #FFDDF4 ($pink-lace) with opacity
      background-color: rgba(255,193,204,0.6); // #ffc1cc ($pink) with opacity
      width: 100vw;
      height: auto;
      border-radius: 16px;
      padding: 20px 40px;

      @media screen and (min-width: 1025px) {
        width: 732px;
      }

      h2
      {
        margin-bottom: 20px;
        font-size: 32px;
        text-align: center;
        font-weight: bold;
      }

      p
      {
        margin-bottom: 8px;
      }

      div.image
      {
        background: url(../images/welcome/form3.jpg) no-repeat;
        background-size: cover;
        width: 50%;
        height: 218px;
        border-radius: 8px;
        float: left;
      }
      div.buttons
      {
        width: 50%;
        height: 218px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        button {margin: 0}
        :first-child {margin-bottom: 32px}
      }
    }
  }

  div.popup-container
  {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    right:0;
    bottom: 0;
    left: 0;

    div.popup-background
    {
      position: fixed;
      background-color: rgba(0,0,0,0.6);
      top:0;
      right:0;
      bottom: 0;
      left: 0;
      tab-index: -1;
    }

    form.login
    {
      position: relative;
      background-color: rgba(0,0,0,0.7);
      padding: 12px 20px;
      border-radius: 8px;

      input
      {
        background: transparent;
        width: 160px;
        height: 28px;
        margin-bottom: 8px;
        padding: 4px;
        font-size: 12px;
        color: white;
        border-top: 2px solid rgba(255,255,255,0.5);
        border-right: 2px solid  rgba(255,255,255,0.5);
        border-left: 2px solid  rgba(255,255,255,0.5);
        border-bottom: 2px solid $flirt;
        border-radius: 4px;
      }

      ::-webkit-input-placeholder {
        text-align: center;
      }

      ::-webkit-input-placeholder {
        text-align: center;
      }

      :-moz-placeholder { /* Firefox 18- */
        text-align: center;
      }

      ::-moz-placeholder {  /* Firefox 19+ */
        text-align: center;
      }

      :-ms-input-placeholder {
        text-align: center;
      }

      input:hover
      {
        border-top: 2px solid rgba(255,255,255,0.75);
        border-right: 2px solid  rgba(255,255,255,0.75);
        border-left: 2px solid  rgba(255,255,255,0.75);
      }

      input:focus
      {
        border-top: 2px solid white;
        border-right: 2px solid white;
        border-left: 2px solid white;
      }

      button[type='submit']
      {
        width: 160px;
        margin: 0;
      }

      button[type='submit']:hover {box-shadow: 0 0 4px 0 $flirt;}
    }
  }
}
